wandb/**/*
debug_logs/**/*
data/**/*
archives/**/*
tests/**/*
onediff_cache
test*
__pycache__
logs/**/*
related_works/d3po/logs/**/*
tmp/**/*
oneflow*
results/**/*
results-molecules/**/*
results-optimize/**/*